# Bytecode
__pycache__/

# Editor config
.vscode/

# Operating System Files
.DS_Store

# Logs
*.log

# Environment variables
.env

# Test output
.pytest_cache/

# Python virtual environment
venv/

# Jupiter notebook checkpoints
.ipynb_checkpoints/

# Data
data/